extends layout

block content
 div.center
  form(action='/enter', method='POST')#form_enter
   label(for='nickName') 닉네임을 입력하세요.
   input(type='text', id='nickName', name='nickName')
   button(type='submit') 입장
